node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
.firebaserc
firebase-debug.log
firestore-debug.log

# Backups
backups/

# Environment Variables
.env
.env.local
.env.*.local
